name: ci
on: [push, pull_request]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633
    - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
      with:
        go-version: '^1.21'
    - run: |
        make
        make test
